@use "./base/variables.scss" as *;
@use "./base/reset.scss";

html {
  &.light {
    background-color: $tertiary-color-b;
    color: $secondary-color;
  }

  &.dark {
    background-color: $secondary-color;
    color: $tertiary-color-b;
  }
}
