@use "./variables.scss" as *;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: background-color 1s ease-in;
  @include poppins-font(400);
}

button {
  transition: all 0.3s ease-out !important;

  &:hover {
    transform: scale(1.03);
  }
}
