@use "../base/variables.scss" as *;

html.light {
  #brand-intro-content {
    h1 {
      color: $secondary-color;
    }
  }

  #video-shadow {
    background-image: radial-gradient(
      $secondary-color,
      transparent,
      transparent
    );
    opacity: 0.3;
  }
}

html.dark {
  #brand-intro-content {
    h1 {
      color: $primary-color-b;
    }
  }

  #video-shadow {
    background-image: radial-gradient(
      $quartenary-color,
      transparent,
      transparent
    );
    opacity: 0.5;
  }
}

#brand-intro {
  #brand-intro-content {
    padding: 0rem 1rem;

    h1 {
      text-transform: capitalize;
      @include montserrat-font();
    }

    button.main-cta {
      width: 100%;
      border: none;
      border-radius: 10px;
      font-size: 1em;
      padding: 0.5rem 0rem;
      cursor: pointer;
      background-image: linear-gradient(
        to top,
        $primary-color-b,
        $primary-color
      );
      color: $tertiary-color;
      @include poppins-font(500);
    }
  }

  #brand-intro-video {
    width: 100%;
    margin-top: 5rem;

    img {
      width: 100%;
      height: auto;
    }

    #video-shadow {
      width: 100%;
      height: 10rem;
      transform: translateY(-4rem);
    }
  }
}
