@use "../base/variables.scss" as *;

html.light {
  .project-card {
    &.card-a {
      box-shadow: 0 0 4px $secondary-color;

      .project-description {
        background-color: $tertiary-color-b;

        span.tag {
          background-color: $tertiary-color;
          border: 1px solid $secondary-color;
        }

        button.card-cta {
          background-color: $secondary-color;
          color: $tertiary-color;

          &:hover {
            background-color: transparent;
            color: $secondary-color;
            border: 2px solid $secondary-color;
          }
        }
      }
    }

    &.card-b {
      background-color: $tertiary-color;
      box-shadow: 1px 1px 2px $secondary-color;
    }
  }
}

html.dark {
  .project-card {
    &.card-a {
      box-shadow: 0 0 4px $secondary-color;

      .project-description {
        background-color: $quartenary-color;

        span.tag {
          background-color: $primary-color;
          border: 1px solid $tertiary-color-b;
          font-weight: bold;
        }

        button.card-cta {
          background-color: $primary-color;
          color: $tertiary-color;

          &:hover {
            background-color: transparent;
            color: $primary-color;
            border: 2px solid $primary-color;
          }
        }
      }
    }

    &.card-b {
      background-color: $quinary-color;
    }
  }
}

.project-card {
  &.card-a {
    border-radius: 10px;
    overflow: hidden;
    height: 30rem;

    .project-description {
      padding: 0.7rem;
      border-radius: 0 0 10px 10px;
    }
  }

  &.card-b {
    height: 26rem;
    border-radius: 20px;

    img {
      border-radius: 20px;
      object-fit: cover;
    }

    .project-description {
      padding: 1rem;

      span.tag {
        background-color: transparent;
        border: 1px solid $secondary-color;
      }

      button.card-cta {
        background-color: $primary-color-b;
        color: $tertiary-color;

        &:hover {
          background-color: transparent;
          color: $primary-color-b;
          border: 2px solid $primary-color-b;
        }
      }
    }
  }

  &.card-hidden {
    display: none;
  }

  .project-img {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .project-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;

    h4 {
      margin: 0 !important;
      font-size: 1.2em;
    }

    p.tags {
      width: 100%;
      display: flex;
      gap: 0.3rem;
      flex-wrap: wrap;

      span.tag {
        padding: 0.3rem 0.5rem;
        border-radius: 10px;
        font-size: 0.7em;
        white-space: nowrap;
      }
    }

    button.card-cta {
      padding: 0.6rem 0;
      border-radius: 22px;
      border: none;
      width: 100%;
      font-size: 1.1em;
      cursor: pointer;
      @include poppins-font(500);
      transition: all 0.4s ease-in;
    }
  }
}
