@use "../base/variables.scss" as *;

html.light {
  #projects-cta-container {
    a {
      color: $secondary-color;
    }
  }
}

html.dark {
  #projects-examples {
    .swiper-pagination-bullet {
      background-color: $tertiary-color-b;
    }

    #projects-cta-container > a {
      color: $tertiary-color;
    }
  }
}

#projects-examples {
  margin-bottom: 2rem;

  #projects-examples-copy {
    padding: 1rem;
    text-align: center;
    margin: 0 auto;
    max-width: 35rem;

    h2 {
      text-transform: capitalize;
      color: $primary-color-b;
      @include montserrat-font();
    }
  }

  #swiper-projects {
    padding: 1.5rem;
    max-width: 22rem;
    @include md() {
      max-width: 45rem;
    }

    @include lg() {
      max-width: 1000px;
    }

    @include xl() {
      max-width: 1100px;
    }

    .swiper-button-prev {
      z-index: 1;
    }
  }

  #projects-cta-container {
    margin: 0.6rem 0;
    display: flex;
    justify-content: center;

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 0.4rem;
      font-size: 1.1em;
      @include poppins-font(500);

      span {
        white-space: nowrap;
      }
    }
  }
}
