@use "../base/variables.scss" as *;

html.light {
  button#scroll-top-btn {
    background-color: $secondary-color;
  }
}

html.dark {
  button#scroll-top-btn {
    background-color: $primary-color-b;
  }
}

#scroll-top-area {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 2;
  display: none;

  @include lg() {
    bottom: 20px;
    left: 20px;
  }

  &.show {
    display: block;
  }

  button#scroll-top-btn {
    color: $tertiary-color;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-size: 1.3em;
    padding: 0.4rem;
    border: none;
    cursor: pointer;
  }
}
