@use "../base/variables.scss" as *;

html.light {
  #search-container select#search-select-field {
    background-color: $tertiary-color;
    border: none;
  }
}

html.dark {
  #search-container select#search-select-field {
    border: none;
    background-color: $quinary-color;
    color: $tertiary-color;
  }
}

#search-container {
  padding: 0 1rem;
  margin-bottom: 1rem;
  max-width: 25rem;
  @include md() {
    padding: 0 2rem;
  }

  label {
    @include poppins-font(500);
  }

  select#search-select-field {
    margin-top: 0.6rem;
    width: 100%;
    border-radius: 10px;
    font-size: 1em;
    padding: 0.5rem 1rem;
    cursor: pointer;
    @include poppins-font(400);
  }
}
