@use "../base/variables.scss" as *;

html.light {
  #services-container {
    background-color: $primary-color;
  }
}

html.dark {
  #services-container {
    background-color: $quinary-color;

    h2 {
      color: $primary-color-b;
    }
  }
}

#services-container {
  padding: 1rem;
  color: $tertiary-color;

  #services-copy {
    h2 {
      @include md() {
        text-align: center;
      }
    }

    p {
      max-width: 40rem;
      @include md() {
        text-align: center;
        margin: 0 auto;
      }
    }
  }

  #services-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    @include lg() {
      max-width: 1000px;
      margin: 3rem auto;
      justify-content: space-around;
    }

    @include xl() {
      width: 80%;
      max-width: 1400px;
    }

    .service-item {
      text-align: center;
      max-width: 22rem;
      margin: 0 auto;
      @include lg() {
        max-width: 28rem;
        margin: 0;
      }

      svg {
        font-size: 2.2em;
      }

      h3,
      p {
        padding: 0 !important;
      }
    }
  }
}
