@use "../base/variables.scss" as *;

@keyframes infinite-slider {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

html.light {
  #skills-container {
    h2 {
      color: $primary-color-b;
    }

    #skills-categories {
      background-color: $tertiary-color;

      &::before {
        background-image: linear-gradient(
          to right,
          $tertiary-color-b,
          transparent
        );
      }

      &::after {
        background-image: linear-gradient(
          to left,
          $tertiary-color-b,
          transparent
        );
      }
    }
  }
}

html.dark {
  #skills-container {
    h2 {
      color: $primary-color;
    }

    #skills-categories {
      &::before {
        background-image: linear-gradient(
          to right,
          $secondary-color,
          transparent
        );

        opacity: 0.5;
      }

      &::after {
        background-image: linear-gradient(
          to left,
          $secondary-color,
          transparent
        );

        opacity: 0.5;
      }

      h3 {
        color: $primary-color-b;
      }
    }
  }
}

#skills-container {
  margin-top: 3rem;

  #skills-copy {
    h2 {
      text-align: center;
      text-transform: capitalize;
      @include montserrat-font();
    }

    p {
      text-align: center;
      padding: 0rem 0.5rem;
    }
  }

  #skills-categories {
    padding: 1rem 0rem;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 6rem;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &::after {
      content: "";
      display: block;
      width: 6rem;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }

    .skills-category {
      h3 {
        text-align: center;
        margin-bottom: 1rem;
      }

      .skills-items-container {
        overflow-x: hidden;
        display: flex;
        align-items: start;
        gap: 1.5rem;
        padding: 1rem;

        &:hover .skills-items {
          animation-play-state: paused;
        }

        .skills-items {
          display: flex;
          align-items: start;
          gap: 1.5rem;
          animation: infinite-slider 10s linear infinite;

          .skill-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            svg {
              font-size: 2em;
            }

            p {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
